<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AuctionSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>auction.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>auction.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryProductServlet</display-name>
    <servlet-name>QueryProductServlet</servlet-name>
    <servlet-class>auction.servlet.QueryProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryProductServlet</servlet-name>
    <url-pattern>/queryProduct.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetailServlet</display-name>
    <servlet-name>ProductDetailServlet</servlet-name>
    <servlet-class>auction.servlet.ProductDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailServlet</servlet-name>
    <url-pattern>/productDetail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitPriceServlet</display-name>
    <servlet-name>SubmitPriceServlet</servlet-name>
    <servlet-class>auction.servlet.SubmitPriceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitPriceServlet</servlet-name>
    <url-pattern>/submitPrice.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryProductBySaleName</display-name>
    <servlet-name>QueryProductBySaleName</servlet-name>
    <servlet-class>auction.servlet.QueryProductBySaleName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryProductBySaleName</servlet-name>
    <url-pattern>/queryProductByName.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EndAuction</display-name>
    <servlet-name>EndAuction</servlet-name>
    <servlet-class>auction.servlet.EndAuction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EndAuction</servlet-name>
    <url-pattern>/endAuction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAuctionServlet</display-name>
    <servlet-name>AddAuctionServlet</servlet-name>
    <servlet-class>auction.servlet.AddAuctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAuctionServlet</servlet-name>
    <url-pattern>/addAuction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowRecord</display-name>
    <servlet-name>ShowRecord</servlet-name>
    <servlet-class>auction.servlet.ShowRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRecord</servlet-name>
    <url-pattern>/showRecord.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>auction.servlet.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdate</display-name>
    <servlet-name>UserUpdate</servlet-name>
    <servlet-class>auction.servlet.UserUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdate</servlet-name>
    <url-pattern>/UserUpdate.do</url-pattern>
  </servlet-mapping>
</web-app>